*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.header, .main {
    display: none;
}
.show-header {
    display: block;
}
/* <----------------------------------------------------- NAVBAR -----------------------------------------------------> */
.navbar {
    height: 10vh;
    background-color: #494975;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
.navbar .nav-logo {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
.navbar .nav-options ul {
    display: flex;
    gap: 80px;
    font-weight: 500;
}
.navbar .nav-options ul li {
    list-style-type: none;
}
.navbar .nav-options ul li a {
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
}
.navbar .nav-options ul li a:hover {
    color: yellow;
}
.dropdown-parent {
    position: relative;
}
.dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #494975;
    padding: 10px 0px;
    width: 180px;
    display: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 100;
}
.dropdown p {
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    margin: 0;
}
.dropdown p:hover {
    background-color: #5a5aa3;
}
/* <----------------------------------------------------- CENTER CONTENT -----------------------------------------------------> */
.show-main { 
    display: flex;
}
.main {
    width: 100%;
    height: 90vh;
    background-color: #9090e8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content h1 {
    color: white;
    font-size: 4rem;
    font-weight: 550;
}
.content p {
    color: white;
    font-size: 1.5rem;
    font-weight: 450;
}