* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}
.header {
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box {
    height: 60%;
    width: 25%;
    background-color: white;
    border-radius: 10px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.login-box form {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.login-box form .form-group {
    width: 100%;
}
.login-box form .form-group input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 7.5px 15px;
}
.login-box form .form-actions {
    width: 100%;
}
.login-box form .form-actions button {
    width: 100%;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #007bff;
    padding: 10px;
    cursor: pointer;
}
.login-box p {
    font-size: 0.75rem;
}
.login-box .new-account a {
    text-decoration: none;
}
.error-message {
    color: red;
    display: none;
}